<mat-card class="verify-email-card" *ngIf="this.userData as user">
  <div *ngIf="!user.emailVerified">
    <mat-card-header>
      <mat-card-title>Thank You for Registering</mat-card-title>
      <mat-card-subtitle
        >We have sent a confirmation email to
        <strong>{{ user.email }}</strong></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Please check your email and click on the link to verfiy your email
        address
      </p>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="sendVerificationEmail()"
        >
          Resend Verification Email
        </button>
      </mat-card-actions>
    </mat-card-content>
  </div>

  <div *ngIf="user.emailVerified">
    <mat-card-header>
      <mat-card-title>Your email is alredy verified</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
  </div>

  <mat-card-content>
    <h3>Go back to?</h3>
    <mat-card-actions>
      <button mat-stroked-button color="accent" routerLink="/">
        <mat-icon>home</mat-icon>
        Home Page
      </button>
      <button mat-stroked-button color="accent" routerLink="/user/profile">
        <mat-icon>account_box</mat-icon>
        Your Profile
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
