<div mat-card-image class="background-img">
  <div class="home-content">
    <h1>WELCOME TO HORSE RACER</h1>

    <div *ngIf="this.userData">
      <h2>
        <a mat-raised-button color="warn" routerLink="/horse/leaderboard"
          >Leaderboard</a
        >
      </h2>

      <h2>
        <a mat-raised-button color="accent" routerLink="/horse/user-horses"
          >Your Horses</a
        >
      </h2>
      <h2>
        <a mat-raised-button color="primary" routerLink="/user/profile"
          >Profile</a
        >
      </h2>
    </div>
    <div *ngIf="!this.userData">
      <h2>
        <a mat-raised-button color="accent" routerLink="/user/login">Log In</a>
      </h2>
      <h2>
        <a mat-raised-button color="primary" routerLink="/user/register"
          >Register</a
        >
      </h2>
    </div>
  </div>
</div>
