.register-card {
  max-width: 500px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

p.auth-message {
  font-size: 16px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  a {
    margin-left: 5px;
  }
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-form-field {
  width: 100%;
  min-width: 400px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}
