<mat-card class="create-horse-card">
  <mat-card-title>Add Horse</mat-card-title>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="createHorse(form)">
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            [errorStateMatcher]="matcher"
            type="text"
            name="horseName"
            placeholder="Demon"
            minlength="2"
            required
            matInput
            ngModel
            #inputHorseName="ngModel"
          />
          <mat-error *ngIf="inputHorseName.errors?.['required']"
            >Name is required</mat-error
          >
          <mat-error *ngIf="inputHorseName.errors?.['minlength']"
            >Name length should be more than 1 character</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Racing number [1-99]</mat-label>
          <input
            [errorStateMatcher]="matcher"
            type="number"
            name="racingNumber"
            placeholder="8"
            min="1"
            max="99"
            required
            matInput
            ngModel
            #inputRacingNumber="ngModel"
          />
          <mat-error *ngIf="inputRacingNumber.errors?.['required']"
            >Racing number is required</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            [errorStateMatcher]="matcher"
            name="description"
            placeholder="Ex. Very fast and furious horse..."
            minlength="8"
            maxlength="50"
            required
            matInput
            ngModel
            #inputDescription="ngModel"
          ></textarea>
          <mat-error *ngIf="inputDescription.errors?.['required']"
            >Description is required</mat-error
          >
          <mat-error *ngIf="inputDescription.errors?.['minlength']"
            >Description length should be MORE than 8 characters</mat-error
          >
          <mat-error *ngIf="inputDescription.errors?.['maxlength']"
            >Description length should be LESS than 50 characters</mat-error
          >
        </mat-form-field>
      </div>

      <div class="button">
        <button (click)="form.resetForm()" mat-flat-button>Reset</button>
        <button
          type="submit"
          color="accent"
          mat-raised-button
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
