<mat-card class="about-card background-img">
  <mat-card-title>About</mat-card-title>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque
    exercitationem commodi facilis neque porro odit, nihil molestias quaerat
    quos at magni error eos, dolores consequuntur ad non quis beatae.
  </mat-card-content>
  <mat-card-content>
    <mat-card-subtitle>Go back to</mat-card-subtitle>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/">Home</a>
    </mat-card-actions>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/user/profile"
        >Profile</a
      >
    </mat-card-actions>
  </mat-card-content>
</mat-card>
