<mat-card class="about-card background-img">
  <mat-card-title>About</mat-card-title>
  <mat-card-content>
    Hi, I'm Kosta Kostov and this is my Angular project for SoftUni called Horse
    Racer, where you can create horses and compete to become the best. You can
    find the full documentation by clicking the logo below.
  </mat-card-content>

  <mat-card-content>
    <a target="_blank" href="https://github.com/KostaKostov15/Horse-Racer">
      <img class="logo" src="/assets/github-mark.png" alt="github-mark" />
    </a>
  </mat-card-content>

  <mat-card-content>
    <mat-card-subtitle>Go back to</mat-card-subtitle>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/">Home</a>
    </mat-card-actions>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/user/profile"
        >Profile</a
      >
    </mat-card-actions>
  </mat-card-content>
</mat-card>
