<mat-toolbar color="primary">
  <button
    matTooltip="Menu"
    matTooltipPosition="right"
    mat-icon-button
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <div class="example-spacer"></div>

  <div *ngIf="this.authService.isLoggedIn">
    <button
      color="accent"
      matTooltip="Horse Actions"
      mat-flat-button
      [matMenuTriggerFor]="menu"
      aria-label="Horse actions icon-button with a menu"
    >
      START
    </button>
    <mat-menu #menu="matMenu">
      <div>
        <button mat-menu-item>
          <a routerLink="/horse/create" mat-list-item>
            <div>
              <mat-icon class="horse-action">create</mat-icon>
              <span>CREATE HORSE</span>
            </div>
          </a>
        </button>
      </div>
      <div>
        <button mat-menu-item>
          <a routerLink="/horse/user-horses" mat-list-item>
            <mat-icon class="horse-action">list</mat-icon>
            MY HORSES
          </a>
        </button>
      </div>
      <div>
        <button mat-menu-item>
          <a routerLink="#" mat-list-item>
            <mat-icon class="horse-action">games</mat-icon>
            RACE
          </a>
        </button>
      </div>
    </mat-menu>
  </div>

  <div class="example-spacer"></div>

  <mat-icon class="mr-6">brightness_5</mat-icon>
  <mat-slide-toggle
    matTooltip="Change theme"
    [checked]="isDarkTheme | async"
    (change)="toggleDarkTheme($event.checked)"
    class="mr-6"
  ></mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>
