<mat-card class="race-track">
  <div *ngIf="!selectedHorse">
    <mat-card-title>Choose A Horse</mat-card-title>
    <mat-card-content>
      <div *ngIf="playerHorses.length == 0">
        <h1>
          No horses yet, click to
          <a mat-raised-button color="accent" routerLink="/horse/create"
            >Create Horse</a
          >
        </h1>
      </div>
      <mat-list role="list" *ngIf="playerHorses.length > 0">
        <mat-list-item role="list-item" *ngFor="let horse of playerHorses">
          <button
            mat-raised-button
            color="primary"
            (click)="selectHorse(horse)"
          >
            No.{{ horse.racingNumber }} | {{ horse.horseName }} | level [{{
              horse.level
            }}]
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>

  <div *ngIf="selectedHorse">
    <mat-card-title>Race Track</mat-card-title>
    <mat-card-content>
      <div class="race-line">
        <mat-card-subtitle
          >HORSE: {{ this.selectedHorse.horseName }}, Level:
          {{ this.selectedHorse.level }}, Total wins:
          {{ this.selectedHorse.wins }}</mat-card-subtitle
        >
        <hr />
        <mat-divider />
        <div [ngStyle]="{ 'left.px': playerPts }" class="player">
          <img
            class="horse-image"
            [src]="
              gameStatus == 1
                ? '/assets/horse-running.gif'
                : '/assets/horse-running.png'
            "
            alt="horse-running"
          />
        </div>

        <mat-divider />
        <hr />
        <mat-divider />

        <div [ngStyle]="{ 'left.px': botPts }" class="player">
          <img
            class="horse-image"
            [src]="
              gameStatus == 1
                ? '/assets/horse-running.gif'
                : '/assets/horse-running.png'
            "
            alt="horse-running"
          />
        </div>
        <mat-divider />
        <hr />
        <mat-card-subtitle>BOT</mat-card-subtitle>
      </div>
      <mat-card-actions>
        <button
          [disabled]="isGameOver || gameStatus == 1"
          mat-raised-button
          color="accent"
          (click)="startRace()"
        >
          RACE
        </button>
        <button
          [disabled]="!isGameOver"
          mat-raised-button
          color="warn"
          (click)="restartRace()"
        >
          RESTART
        </button>
      </mat-card-actions>
    </mat-card-content>
  </div>
</mat-card>
