.horse-image {
  width: 60px;
  height: 45px;
}

.player {
  position: relative;
  max-width: 60px;
}

.race-track {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title,
mat-card-content {
  justify-content: center;
}

mat-card-title {
  display: flex;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

:host {
  justify-content: center;
  margin: 100px 0px;
}
