.user-image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.profile-card {
  max-width: 100%;
  width: 100%;
  height: 85%;
  padding: 10px;
  position: fixed;
  margin: auto;
}

.card-content {
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

form {
  margin-top: 14px;
}
