<!-- Profile Card -->
<mat-card class="profile-card" *ngIf="this.userData as user">
  <mat-card-content class="card-content">
    <a href="">Change Image</a>
    <div>
      <img
        class="user-image"
        mat-card-image
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName ? user.displayName : 'dummy-user' }}"
      />
    </div>
    <mat-card-title
      >Email: <strong>{{ user.email }}</strong></mat-card-title
    >
    <mat-card-title *ngIf="user.displayName"
      >Username: <strong>{{ user.displayName }}</strong></mat-card-title
    >
    <a href="">Change Username</a>

    <div>
      <button color="primary" mat-raised-button>Edit Profile</button>
    </div>
  </mat-card-content>
</mat-card>
